##### 1. Retrieve all columns from the "employees" table.

Select * from employee

#### 2. Display the unique values in the "department" column of the "employees" table.

Select Distinct(department) from eployees

#### 3. Count the total number of employees in the "employees" table.

select count(*) from employees

#### 4 Retrieve the first 10 rows from the "customers" table.

Select * from customers
limit 10;

#### 5. Show the average salary of all employees.

Select employee_id, avg(salary) from employees
group by employee_id;

#### 6. Find the highest salary among all employees.

Select employee_id,max(salary) from employees
group by employee_id;

#### 7. Display the distinct values in the "city" column of the "customers" table.

Select distinct(city) from customers;

#### 8. List all employees whose salary is greater than $50,000.

Select * from employees
where salary > 50000;

#### 9. Calculate the total sales amount from the "sales" table.

Select sum(amount) from sales;

#### 10. Sort the "products" table by price in descending order.

Select * from products
order by price DESC;

####  11. Find the total number of distinct countries in the "customers" table.

Select count(distinct(countires) from customers;

####  12. List all orders with a quantity greater than 10.

Select * from orders
where quantity > 10;

#### 13. Calculate the average price of all products.

Select product, Avg(price) from products;

####  14. Sort the "employees" table by hire date in descending order.

Select * from employees
order by hire_date DESC;

####  15. Show the maximum price among all products.

Select product_id, max(price) from products;

####  16. List all products with a stock quantity less than 50.

Select * from products
where quantity < 50;

#### 17 . Count the total number of orders placed by each employee.

Select employee_id,count(order) from orders;

####  18. Display the orders along with their customers from the "orders" and "customers" tables.

Select customers.customer_id, customers.customer, orders.order from customers
join orders
using (customer_id)

####  19. Find the total revenue generated from orders.

Select Sum(revenue) from orders;

####  20. Calculate the average stock quantity of all products.

Select AVG(quantity) from products;